.metronome-title{
    margin: 2em 0 1em 0;
    font-size: 50px;
    color: #000;
    // font-family: "Bebas Neue", cursive;
    font-family: var(--font-subtitle-style);
    
    .featuredFood-title-subtitle{
        font-size: 20px;
        font-weight: 300;
        font-family: roboto, sans-serif;

    }
}

.metronome{
    // border: 1px solid #000;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    justify-content: space-between;

}
.bpm-display{
    position: relative;
    width: 100%;
    text-align: center;
    color: #6c757d;    
    // color: #fa545c;
    font-weight: bold;
}
.bpm-display .tempo{
    font-size: 4em;
    padding-bottom: 0;
    // padding-right: 0;
}

.bpm-display .bpm{
    font-size: 1em;
    // position: absolute;
    // padding-left: 0;
    // padding-bottom: 0;
    line-height: 50px;
}


.tempo-text{
    font-size: .8em;
    text-transform: uppercase;
    text-align: center;
}

.tempo-settings{
    display: flex;
    justify-content: space-between;

}

.tempo-settings .adjust-tempo-btn{
    width: 50px;
    height: 50px;
    font-size: 37px;
    border-radius: 50%;
    border: 1px solid #ddd;
    text-align: center;
    cursor:pointer;
}

.tempo-settings .adjust-tempo-btn:hover{
    // background: #fa545c;
    background: #6c757d; 
    color: #fff;
}

.tempo-settings .decrease-tempo{
    line-height: 35px;
}

.tempo-settings .increase-tempo{
    line-height: 35px;
}

input[type=range]{
    -webkit-appearance: none;
    background: transparent;
    width: 70%;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
}

input[type=range]:focus{
    outline: none;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #6c757d; 
    // background: #fa545c;
    margin-top: -7px;
}

input[type=range]::-moz-range-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #6c757d; 
    margin-top: -7px;
    // background: #fa545c;
}

input[type=range]::-webkit-slider-runnable-track{
    width: 100%;
    height: 1px;
    background: #ddd;
}

input[type=range]::-moz-range-track{
    width: 100%;
    height: 1px;
    background: #ddd;
}


.start-stop{
    width: 60px;
    height: 60px;
    font-size: 0.7em;
    text-align: center;
    background: #6c757d; 
    // background: #fa545c;
    border-radius: 50%;
    color: #fff;
    line-height: 60px;
    margin: 0 auto;
    cursor: pointer;

}

.start-stop:hover{
    background: #828c96;
}

.measures{
    display: flex;
    justify-content: center;
}

.measures .stepper{
    width:20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ddd;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
   
}
.measures .stepper:hover{
    background: #6c757d; 
    // background: #ff656c;
    color: #fff;
}

.measures .add-beats{
    line-height: 16px;
}

.measures .subtract-beats{
    line-height: 16px;
}

.beats-per-measure-text{
    text-align: center;
    font-size: 0.5em;
    text-transform: uppercase;
}


