#featuredFood{
    background-color: #f8f9fa;

    .h-400{
        height: 400px;
    }

    .bg-white{
        background-color: white;
    }
    .featuredFood-title{
        margin: 2em 0;
        font-size: 50px;
        color: #000;
        font-family: "Playfair Display", serif;

        .featuredFood-title-subtitle{
            font-size: 20px;
            font-weight: 300;
            font-family: roboto, sans-serif;

        }
    }
    .featuredFood-item{
        font-family: "Playfair Display", serif;
        .featuredFood-item-img-wrapper{
            height: 400px;
        }

        h3{
            font-size: 14px;
            color: #ff7a5c;
            text-transform: uppercase;
            letter-spacing: .2em;
        }

        h4{
          
            line-height: 1.5;
            font-size: 20px;
            margin-bottom: 30px;
            font-weight: 300;
            
        }

        img{

        }

        a{
            margin-top:  3em;
            display: block;
            text-decoration: none;
            color: inherit;
        }

        .featuredFood-item-description{
            font-family: roboto, sans-serif;
            font-size: 20px;
            line-height: 1.8;
            font-weight: 300;
            color: gray;
            
        }
      
    }
}

#bar {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 40%;
    height: 40%;
    -webkit-transition: 0.1s ease all;
}

.p {
    background-color: blue;
    height: 100%;
    width: 10%;
    float: left;
}