<div class="row">
    <div class="col-12">
    <h2>FIND YOUR BEST FOOD</h2>
    </div>
    <div class="col-12">
    <div class="row">
        <div class="col-md-4">
           Nulla in dolore nostrud cillum enim elit dolore consectetur adipisicing mollit aliqua quis. Officia tempor exercitation ea nostrud qui elit est minim nulla et exercitation veniam quis. Fugiat do mollit magna consequat laboris reprehenderit magna enim consectetur elit do proident veniam.
        </div>
        <div class="col-md-4">
        Nulla in dolore nostrud cillum enim elit dolore consectetur adipisicing mollit aliqua quis. Officia tempor exercitation ea nostrud qui elit est minim nulla et exercitation veniam quis. Fugiat do mollit magna consequat laboris reprehenderit magna enim consectetur elit do proident veniam.
        </div>
        <div class="col-md-4">
            Nulla in dolore nostrud cillum enim elit dolore consectetur adipisicing mollit aliqua quis. Officia tempor exercitation ea nostrud qui elit est minim nulla et exercitation veniam quis. Fugiat do mollit magna consequat laboris reprehenderit magna enim consectetur elit do proident veniam.    
        </div>
        <div class="col-md-4">
            Nulla in dolore nostrud cillum enim elit dolore consectetur adipisicing mollit aliqua quis. Officia tempor exercitation ea nostrud qui elit est minim nulla et exercitation veniam quis. Fugiat do mollit magna consequat laboris reprehenderit magna enim consectetur elit do proident veniam.
        </div>
        <div class="col-md-4">
            Nulla in dolore nostrud cillum enim elit dolore consectetur adipisicing mollit aliqua quis. Officia tempor exercitation ea nostrud qui elit est minim nulla et exercitation veniam quis. Fugiat do mollit magna consequat laboris reprehenderit magna enim consectetur elit do proident veniam.
        </div>
        <div class="col-md-4">
        Nulla in dolore nostrud cillum enim elit dolore consectetur adipisicing mollit aliqua quis. Officia tempor exercitation ea nostrud qui elit est minim nulla et exercitation veniam quis. Fugiat do mollit magna consequat laboris reprehenderit magna enim consectetur elit do proident veniam.
        </div>
    </div>
    </div>    
</div>
