

.slider{
    width: 100vw;
    height: 100vh;
    background-image: url("../../../assets/images/colour_creation.jpg");
    background-size: cover;
    overflow: hidden;
    max-width: 100%;

    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-position: center; 
    .slider-content{
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.3);
        h1{
            font-size: 70px;
            font-weight: 700px;
            line-height: 1.2;
            color: azure;
            // font-family: "Bebas Neue", cursive;
            // font-family: "Abril Fatface", cursive;
            font-family: var(--font-title-style);
            // , cursive;
            // font-family: "Playfair Display", serif;

        }
        button.slider-content--cta{
            border: 2px solid #fff;
            background: 0 0;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-size: 14px;
            font-weight: 700;
        }

        button.slider-content--cta:hover {
            color: #fff;
            border: none;
        }
    }
}
