#GuitarProgresions{

    .guitarProgressions-title{
        margin: 2em 0 1em 0;
        font-size: 50px;
        color: #000;
        font-family: var(--font-subtitle-style);

        // .featuredFood-title-subtitle{
        //     font-size: 20px;
        //     font-weight: 300;
        //     font-family: roboto, sans-serif;

        // }
    }

    background-color: #f8f9fa!important;
    // padding: 2em 0;
    // font-family: "Playfair Display", serif;

    // h2{
    //     font-size: 50px;
    // }
    h3{
        font-size: 20px;        
        color: gray;
        font-family: "Open Sans", Arial, sans-serif;
        font-weight: 00;
    }

    .sub-title{
        margin-bottom: 5em;
    }

    span{
        // color: #ff7a5c;
        // background: none;
        // border-bottom: 2px solid #ff7a5c;
        // font-weight: 600;
        // font-size: 16px;
        // text-decoration: uppercase;
       
        display: inline-block;
        color: gray;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: .2em;
        border-bottom: 2px solid transparent;
        padding-left: 0;
        padding-right: 0;
        margin: 0 10px;
        font-weight: 800;
      
        border-bottom: 2px solid #e6e6e6;

        
    }

    span.active{       
            color: #ff7a5c;
            background: none;
            border-bottom: 2px solid #ff7a5c;
    }

    span.categories{
  
        padding: 0.5rem 1rem;
    }



    .list-categories{
        margin-bottom: 7em !important;
    }
    
    // p{
    //     display: block;
    //     margin-block-start: 1em;
    //     margin-block-end: 1em;
    //     margin-inline-start: 0px;
    //     margin-inline-end: 0px;
    //     font-family: "Open Sans",Arial,sans-serif;
    //     font-size: 20px;
    //     line-height: 1.8;
    //     font-weight: 300;
    //     color: gray;
    // }

    .product{
        border-bottom: 1px dotted #ccc;
        float: left;
        width: 100%;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    .product-name{
        color: #000;
    }

    .price{
        color: #ff7a5c;
        font-size: 20px;
    }

    .img{
        border-radius: 10%;
    }

    .border-element{
        padding: 1.5rem;
        margin-right: 0;
        margin-left: 0;
        border-width: 1px;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
    }

    .table-font{

        // th{

        // }
        color: gray;
        // font-family: "Open Sans", Arial, sans-serif;
        // font-family: "Playfair Display", serif;
        font-size: 20px;
    }

    .scale-name{
        font-size: 30px;
        transform: scale(0.9); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        transition: transform .5s;
        --bs-table-bg: #6c757d;
        color: #fff;
        background-color: #6c757d;
        // border-color: #6c757d;
        // background: #6c757d;
        // color: #fff;
        // border-width: 1px;
        // border-top-left-radius: .25rem;
        // border-top-right-radius: .25rem;

    }
  
}