.the-chefs{
    padding-top: 5em;
    padding-bottom: 5em;
}

h2{
    font-size: 50px;
    color: #000;
    font-family: "Playfair Display", serif ;
}
#chef{
    img{
        border-radius: 50%;
        width: 200px;
    }
    .chef{
        &-name{
            font-size: 30px;
            font-family: "Playfair Display", serif;
        }
        &-description{
            color: #808080;
            font-weight: 300;
        }
        &-social{}
        &-sub-name{
            color: #b3b3b3;
            letter-spacing: 0.1em;
            font-family: "Open Sans", Arial, Helvetica, sans-serif;
            font-weight: 100;
        }
    }
 
}