<div class="row">
    <div class="col-12">
    <h2 class="text-center">Meet our cheefts </h2>
    </div>
    <div class="col-md-6 col-12"> 
        Nulla in dolore nostrud cillum enim elit dolore consectetur adipisicing mollit aliqua quis. Officia tempor exercitation ea nostrud qui elit est minim nulla et exercitation veniam quis. Fugiat do mollit magna consequat laboris reprehenderit magna enim consectetur elit do proident veniam.
    </div>    
    <div class="col-md-6 col-12"> 
        Nulla in dolore nostrud cillum enim elit dolore consectetur adipisicing mollit aliqua quis. Officia tempor exercitation ea nostrud qui elit est minim nulla et exercitation veniam quis. Fugiat do mollit magna consequat laboris reprehenderit magna enim consectetur elit do proident veniam.
    </div>    
</div>
