<div class="container-fluid scales" id="GuitarScales">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="guitarScale-title text-center p2">ESCALAS DE GUITARRA</h2>
            </div>
    
            <div class="col-md-12">
                <div class="row">
                    <p class="text-justify">
                    El mundo de las escalas ha sido abordado desde diferentes aristas, y siempre
                    se ha reconocido en él un material vital para la creación e interpretación musical.
                    Sin embargo, no siempre es fácil desarrollar un plan de trabajo que nos permita,
                    en cualquiera de estos abordajes, una ruta clara y efectiva para manipular este
                    recurso musical, bien sea en la improvisación, la composición o la interpretación. 
                    </p>
                    <p class="text-justify">
                    Considerando las transformaciones técnicas y estéticas sucedidas en la música
                    hasta el día de hoy, el estudio de las escalas es aún un tema fundamental en la
                    formación y desarrollo del músico. Este campo de estudio traspasa aspectos tan
                    diversos como la teoría musical, la composición y particularmente, el de la interpretación instrumental
                    </p>
                </div>
                <!-- <div>
                    <label>
                        Show multiple notes
                    </label>
                    <input type="checkbox" id="showAllnotes"  (change)="showAllNotes($event)"/>
                </div> -->
                <div class="overflow-auto">
    
               
                <div #fretboard class="fretboard ">
                    
                </div>
            </div>
                <!-- <img src="https://preview.colorlib.com/theme/meal/images/xbg_hero.png.pagespeed.ic.amM03QbRMh.webp"
                 class="align-center"/> -->
            </div> 
            
        </div>
        <div class="row">       
    
            <div class="btn-group btn-group-justified pt-5 btn-vertical" role="group" aria-label="First group" >
                
               
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" (click)="getScalesName('ionian')" >
                <label class="btn btn-outline-secondary btn-lg btn-scales" for="btnradio1">JONICO</label>
    
                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" (click)="getScalesName('dorian')" >
                <label class="btn btn-outline-secondary btn-lg btn-scales" for="btnradio2">DORICO</label>
    
                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" (click)="getScalesName('phrygian')" >
                <label class="btn btn-outline-secondary btn-lg btn-scales" for="btnradio3">FRIGIO</label>
    
                <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" (click)="getScalesName('lydian')" >
                <label class="btn btn-outline-secondary btn-lg btn-scales" for="btnradio4">LIDIO</label>
    
                <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off" (click)="getScalesName('mixolydian')" >
                <label class="btn btn-outline-secondary btn-lg btn-scales" for="btnradio5">MIXOLIDIO</label>
    
                <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off" (click)="getScalesName('aeolian')" >
                <label class="btn btn-outline-secondary btn-lg btn-scales" for="btnradio6">EOLICO</label>
    
                <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off" (click)="getScalesName('locrian')" >
                <label class="btn btn-outline-secondary btn-lg btn-scales" for="btnradio7">LOCRIO</label>
                
                <!-- <button type="button" class="btn btn-outline-secondary btn-lg btn-scales" (click)="getScalesName('ionian')">JONICO</button>
                <button type="button" class="btn btn-outline-secondary btn-lg btn-scales" (click)="getScalesName('dorian')">DORICO</button>
                <button type="button" class="btn btn-outline-secondary btn-lg btn-scales" (click)="getScalesName('phrygian')">FRIGIO</button>
                <button type="button" class="btn btn-outline-secondary btn-lg btn-scales" (click)="getScalesName('lydian')">LIDIO</button>
                <button type="button" class="btn btn-outline-secondary btn-lg btn-scales" (click)="getScalesName('mixolydian')">MIXOLIDIO</button>
                <button type="button" class="btn btn-outline-secondary btn-lg btn-scales" (click)="getScalesName('aeolian')">EOLICO</button>
                <button type="button" class="btn btn-outline-secondary btn-lg btn-scales" (click)="getScalesName('locrian')">LOCRIO</button> -->
            </div>  
           
            <div class="btn-group btn-group-justified pt-2 btn-vertical" role="group" aria-label="Second group" >
                <ng-container *ngFor="let item of notesSharp; index as i;">
                    <input type="radio" class="btn-check" name="btnradionote" id="btnradionote{{8 + i}}" autocomplete="off"  (click)="setNote(item)">
                    <label class="btn btn-outline-secondary btn-lg btn-note" for="btnradionote{{8 + i}}"> {{item}}</label>
                </ng-container>
               
            </div>    
        </div>
    </div>
</div>