img{
    max-width: 100%;
}

.title{
    margin: auto;
    left: 0;
    right: 0;
    width: 110px;
    margin-top: 40px;
    border: 2px solid black;
    font-family: "Open Sans", serif;
    // font-family: "Bebas Neue", cursive;
    font-size:  1.2rem;
}

p{
 
    text-align: left!important;
    font-family: var(--font-p-style);
}


@media (max-width: 768px) {
    h2 {font-size: 2em!important;
    }
  }
  
//   @media (max-width: 604px) {
//     h2 {font-size: .8em!important;}
//   }
  
//   @media (max-width: 541px) {
//     h2 {font-size: .7em!important;}
//   }
  
//   @media (max-width: 478px) {
//     h2 {font-size: .6em!important;}
//   }
  
//   @media (max-width: 413px) {
//     h2 {font-size: .5em!important;}
//   }
  
//   @media (max-width: 350px) {
//     h2 {font-size: .45em!important;}
//   }
