<button class="menu-toggler" (click)="toogleMenu()">
</button>
<div class="menu position-fixed" [ngClass]="{'site-menu-show' : showMenu}">   
   <ul>
        <li>
            <a href="#GuitarTune" class="secondary">Afinador </a>
        </li>
        <li>
            <a href="#GuitarScales"> Escalas </a>
        </li>
        <li>
            <a href="#GuitarProgresions"> Progresiones </a>
        </li>
        <li>
            <a href="#Metronome">Metrónomo </a>
            <!-- <p>Backing tracks</p> -->
        </li>
    </ul>
</div>